set_io OSC 37
set_io LED 44
set_io RESET 2

set_io MCLK 36
set_io BCLK 35
set_io ADCLRC 28
set_io DACLRC 32
set_io ADCDAT 31
set_io DACDAT 34

set_io SCLK 15
set_io MOSI 14
set_io MISO 39

set_io CS 42
set_io CSMODE 38

set_io IO7 27
set_io IO6 26
set_io IO5 25
set_io IO4 23

set_io TXD 18
set_io RXD 19