set_io OSC 37
set_io LED 44
set_io RESET 40

set_io MCLK 36
set_io BCLK 35
set_io ADCLRC 28
set_io DACLRC 32
set_io ADCDAT 31
set_io DACDAT 34

set_io SCLK 15
set_io MOSI 14
set_io CS 42
set_io -pullup yes -pullup_resistor 10K CSMODE 38

set_io IO7 27
set_io IO6 26
set_io IO5 25
set_io IO4 23

set_io -pullup yes -pullup_resistor 10K USER_BUTTON 9

set_io TXD 18
set_io RXD 19

set_io CAPACITOR 13
set_io POT_1 6
set_io POT_2 2
set_io DIFF_IN 4
