set_io clk 42

set_io addr[0] 43
set_io addr[1] 37
set_io addr[2] 38
set_io addr[3] 23
set_io addr[4] 25
set_io addr[5] 47
set_io addr[6] 48
set_io addr[7] 6
set_io addr[8] 9
set_io addr[9] 10

set_io rw 26

set_io data_in[0] 27
set_io data_in[1] 28
set_io data_in[2] 31
set_io data_in[3] 32
set_io data_in[4] 4
set_io data_in[5] 44
set_io data_in[6] 45
set_io data_in[7] 46

set_io data_out[0] 34
set_io data_out[1] 35
set_io data_out[2] 36
set_io data_out[3] 39
set_io data_out[4] 40
set_io data_out[5] 41
set_io data_out[6] 2
set_io data_out[7] 3

